@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
a.active hr{
    display:block
} 

*{
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  @media(max-width:640px){
  a.active{
    background-color: black;
    color:white;

  }
}
:root {
  --global-font-size: 16px; /* Default font size */
}

html, body {
  font-size: var(--global-font-size) !important; /* Ensure override */
  transition: font-size 0.3s ease-in-out; /* Smooth transition */
}

h1, h2, h3, h4, h5, h6, p, a, span, li, button {
  font-size: inherit; /* Ensure all elements inherit */
}

.btn {
  /* background-color: #007bff; */
  color: black;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

/* .btn:hover {
  background-color: #0056b3;
} */
